// ----------------------------------------------------------------------------
// GRID
// ----------------------------------------------------------------------------

.flex {
	display: flex;
}

.align-center {
	align-items: center;
}

.justify-between {
	justify-content: space-between;
}

.grid {
	display: grid;
}

.page__content {
	margin: rem(30) auto rem(100);
	max-width: 100%;
	padding: $gutter;
	width: $size__content;

	@include media($tablet-portrait-up, null) {
		grid-template-columns: repeat(2, 1fr);
		grid-gap: $gutter * 3 rem(11);
	}

	@include media($tablet-landscape-up, null) {
		grid-template-columns: repeat(4, 1fr);
		margin-bottom: rem(200);
		margin-top: $gutter * 4;
	}
}
