// ----------------------------------------------------------------------------
// BUTTONS
// ----------------------------------------------------------------------------
.button {
	background-color: $color__primary;
	border-radius: $border__radius;
	color: $color__white;
	display: inline-block;
	font-family: $poppins;
	font-size: em(14, 16);
	font-weight: 600;
	padding: em(10, 14) em(20, 14);
	transition: $transition__background-color;

	&:hover,
	&:focus {
		background-color: rgba($color__primary, 0.7);
	}

	&.button {

		// .button--light
		&--light {
			background-color: $color__white;
			color: $color__primary;

			&:hover,
			&:focus {
				background-color: $color__white-smoke;
			}
		}

		// .button--outline
		&--outline {
			background-color: $color__white;
			border: 1px solid $color__gainsboro;
			transition: $transition__border-color;

			&:hover,
			&:focus {
				border-color: $color__white-smoke;
				background-color: $color__white-smoke;
			}
		}

		// .button--hamburger
		&--hamburger {
			background-color: transparent;
			margin-left: auto;
			padding: 8px rem(14);
			position: relative;
			z-index: 6;

			@include media($tablet-landscape-up, null) {
				display: none;
			}

			&:hover,
			&:focus {
				background-color: transparent;
			}
		}

		// .button--cart
		&--cart {
			margin-left: 5px;
			position: relative;
			z-index: 5;

			&:hover,
			&:focus {
				background-color: transparent;
			}
		}
	}
}

//-----------------------------------------------
// Burger
//-----------------------------------------------
.burger {
	@include position(absolute, null 0 null 0);
	@include size(rem(22) rem(2));

	background-color: $color__primary;
	margin: 0 auto;
	transition: $transition__transform;

	&--top-bun {
		top: 0;
	}

	&--patty {
		top: 50%;
		transform: translateY(-50%);
	}

	&--bottom-bun {
		bottom: 0;
	}

	.menu-open & {

		&--top-bun {
			top: 50%;
			transform: translateY(-50%) rotate(45deg);
		}

		&--patty {
			display: none;
		}

		&--bottom-bun {
			top: 50%;
			transform: translateY(-50%) rotate(-45deg);
		}
	}
}

//-----------------------------------------------
// Close
//-----------------------------------------------
.button--close {
	@include size(rem(22));

	background-color: transparent;
	padding: rem(12);
	position: relative;
	z-index: 2;

	&:hover,
	&:focus {
		background-color: transparent;
	}
}

.button--remove {
	top: -5px;
}

.button--close-modal {

	&:hover,
	&:focus {
		background-color: rgba($color__primary, 0.7);
	}
}

.close {
	@include position(absolute, 0 0 0 0);
	@include size(rem(15) rem(2));

	background-color: $color__gainsboro;
	display: block;
	margin: auto;

	&--1 {
		transform: rotate(45deg);
	}

	&--2 {
		transform: rotate(-45deg);
	}
}

//-----------------------------------------------
// Cart
//-----------------------------------------------
.cart-count {
	@include position(absolute, rem(2) rem(7) null null);
	
	font-size: em(13, 15);
}
