/*! sanitize.css v4.1.0 | CC0 License | github.com/jonathantneal/sanitize.css */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

template,
[hidden] {
  display: none;
}

*,
::before,
::after {
  background-repeat: no-repeat;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: default;
  font-family: sans-serif;
  line-height: 1.5;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

hr {
  height: 0;
  overflow: visible;
}

nav ol,
nav ul {
  list-style: none;
}

abbr[title] {
  border-bottom: 1px dotted;
  text-decoration: none;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

progress {
  vertical-align: baseline;
}

small {
  font-size: 83.3333%;
}

sub,
sup {
  font-size: 83.3333%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

::-moz-selection {
  background-color: #b3d4fc;
  color: #000;
  text-shadow: none;
}

::selection {
  background-color: #b3d4fc;
  color: #000;
  text-shadow: none;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

img {
  border-style: none;
}

svg {
  fill: currentColor;
}

svg:not(:root) {
  overflow: hidden;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:hover {
  outline-width: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
  color: inherit;
  font-size: 1em;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

textarea {
  overflow: auto;
  resize: vertical;
}

[type='checkbox'],
[type='radio'] {
  padding: 0;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-cancel-button,
::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: .54;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

[aria-busy='true'] {
  cursor: progress;
}

[aria-controls] {
  cursor: pointer;
}

[aria-disabled] {
  cursor: default;
}

a,
area,
button,
input,
label,
select,
textarea,
[tabindex] {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

[hidden][aria-hidden='false'] {
  clip: rect(0, 0, 0, 0);
  display: inherit;
  position: absolute;
}

[hidden][aria-hidden='false']:focus {
  clip: auto;
}

.button {
  background-color: #0038E3;
  border-radius: 6px;
  color: #fff;
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-size: 0.875em;
  font-weight: 600;
  padding: 0.7142857143em 1.4285714286em;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.button:hover, .button:focus {
  background-color: rgba(0, 56, 227, 0.7);
}

.button.button--light {
  background-color: #fff;
  color: #0038E3;
}

.button.button--light:hover, .button.button--light:focus {
  background-color: #f5f5f5;
}

.button.button--outline {
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
}

.button.button--outline:hover, .button.button--outline:focus {
  border-color: #f5f5f5;
  background-color: #f5f5f5;
}

.button.button--hamburger {
  background-color: transparent;
  margin-left: auto;
  padding: 8px 0.875rem;
  position: relative;
  z-index: 6;
}

.button.button--hamburger:hover, .button.button--hamburger:focus {
  background-color: transparent;
}

.button.button--cart {
  margin-left: 5px;
  position: relative;
  z-index: 5;
}

.button.button--cart:hover, .button.button--cart:focus {
  background-color: transparent;
}

.burger {
  position: absolute;
  right: 0;
  left: 0;
  height: 0.125rem;
  width: 1.375rem;
  background-color: #0038E3;
  margin: 0 auto;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.burger--top-bun {
  top: 0;
}

.burger--patty {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.burger--bottom-bun {
  bottom: 0;
}

.menu-open .burger--top-bun {
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}

.menu-open .burger--patty {
  display: none;
}

.menu-open .burger--bottom-bun {
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
}

.button--close {
  height: 1.375rem;
  width: 1.375rem;
  background-color: transparent;
  padding: 0.75rem;
  position: relative;
  z-index: 2;
}

.button--close:hover, .button--close:focus {
  background-color: transparent;
}

.button--remove {
  top: -5px;
}

.button--close-modal:hover, .button--close-modal:focus {
  background-color: rgba(0, 56, 227, 0.7);
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 0.125rem;
  width: 0.9375rem;
  background-color: #ddd;
  display: block;
  margin: auto;
}

.close--1 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.close--2 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.cart-count {
  position: absolute;
  top: 0.125rem;
  right: 0.4375rem;
  font-size: 0.8666666667em;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
          appearance: none;
  margin: 0;
}

img {
  height: auto;
  max-width: 100%;
}

.logo {
  height: 2.8125rem;
  width: 5.625rem;
}

html {
  font-size: 15px;
}

body {
  color: #999;
  font: 400 15px/1.66 "Open Sans", sans-serif;
}

h1,
.h1 {
  color: #222;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin: 0 0 0.5em;
}

h2,
.h2 {
  color: #222;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin: 0 0 0.5em;
}

h3,
.h3 {
  color: #222;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin: 0 0 0.5em;
}

h4,
.h4 {
  color: #222;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin: 0 0 0.5em;
}

h5,
.h5 {
  color: #222;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin: 0 0 0.5em;
}

h6,
.h6 {
  color: #222;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin: 0 0 0.5em;
}

h1,
.h1 {
  font-size: 2.8em;
}

h2,
.h2 {
  font-size: 2.4em;
}

h3,
.h3 {
  font-size: 2em;
}

h4,
.h4 {
  font-size: 1.867em;
}

h5,
.h5 {
  font-size: 1.6em;
}

h6,
.h6 {
  font-size: 1.33em;
}

a {
  border-bottom: 1px solid #0038E3;
  text-decoration: none;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

a:hover, a:focus {
  color: #0038E3;
}

.bg--primary {
  background-color: #0038E3;
}

.text--primary {
  color: #0038E3;
}

.fill--primary {
  fill: #0038E3;
}

.bg--secondary {
  background-color: #458DFE;
}

.text--secondary {
  color: #458DFE;
}

.fill--secondary {
  fill: #458DFE;
}

.bg--black {
  background-color: #222;
}

.text--black {
  color: #222;
}

.fill--black {
  fill: #222;
}

.bg--aluminum {
  background-color: #999;
}

.text--aluminum {
  color: #999;
}

.fill--aluminum {
  fill: #999;
}

.bg--iron {
  background-color: #ccc;
}

.text--iron {
  color: #ccc;
}

.fill--iron {
  fill: #ccc;
}

.bg--gainsboro {
  background-color: #ddd;
}

.text--gainsboro {
  color: #ddd;
}

.fill--gainsboro {
  fill: #ddd;
}

.bg--athens-gray {
  background-color: #eee;
}

.text--athens-gray {
  color: #eee;
}

.fill--athens-gray {
  fill: #eee;
}

.bg--white-smoke {
  background-color: #f5f5f5;
}

.text--white-smoke {
  color: #f5f5f5;
}

.fill--white-smoke {
  fill: #f5f5f5;
}

.bg--alabaster {
  background-color: #fbfbfb;
}

.text--alabaster {
  color: #fbfbfb;
}

.fill--alabaster {
  fill: #fbfbfb;
}

.bg--white {
  background-color: #fff;
}

.text--white {
  color: #fff;
}

.fill--white {
  fill: #fff;
}

.bg--success {
  background-color: #96C07C;
}

.text--success {
  color: #96C07C;
}

.fill--success {
  fill: #96C07C;
}

.bg--danger {
  background-color: #D5382C;
}

.text--danger {
  color: #D5382C;
}

.fill--danger {
  fill: #D5382C;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
}

.full-width {
  position: relative;
  right: 50%;
  left: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  width: 100vw;
}

.hide-text {
  height: 1px;
  width: 1px;
  border: 0;
  clip: rect(0 0 0 0);
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-menu a {
  border: 0;
  display: block;
  text-decoration: none;
}

.primary-nav .nav-menu {
  text-transform: uppercase;
}

.primary-nav .nav-menu a {
  padding: 0.75rem;
}

.widget .nav-menu a {
  line-height: 2.4;
}

.footer-bottom .nav-menu a {
  color: #999;
  padding: 0.3125rem 0.75rem;
}

.footer-bottom .nav-menu a:hover {
  color: #0038E3;
}

.menu-open {
  overflow: hidden;
}

.menu-screen {
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  -webkit-transition: background-color 0.3s ease-in-out, z-index 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, z-index 0.3s ease-in-out;
  z-index: -1;
}

.menu-open .menu-screen {
  background-color: rgba(34, 34, 34, 0.2);
  z-index: 4;
}

.product {
  font-size: 1.0666666667em;
  margin-left: auto;
  margin-right: auto;
  max-width: 17.1875rem;
  position: relative;
  text-align: center;
  -webkit-transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}

.product__heading {
  font-size: 1em;
  margin: 1.875rem 0 0;
}

.product__badge {
  position: absolute;
  top: 1.25rem;
  right: 0;
  display: inline-block;
  font-size: 0.8125em;
  letter-spacing: 0.03em;
  padding: 0.3846153846em 0.7692307692em;
  text-transform: uppercase;
}

.product__content {
  margin-bottom: -2px;
  position: relative;
  z-index: 3;
}

.product__footer {
  font-size: 0.875em;
  max-height: 0;
  max-width: 100%;
  overflow: hidden;
  padding: 0 0.9375rem;
  position: absolute;
  -webkit-transition: max-height 0.3s ease-in-out;
  transition: max-height 0.3s ease-in-out;
  z-index: 2;
}

.product__footer .button--add-to-cart {
  font-size: 1.1428571429em;
  display: block;
  margin: 1.3333333333rem 0;
  width: 100%;
}

.product:hover {
  -webkit-box-shadow: 1px 1px 15px 0 rgba(34, 34, 34, 0.15);
          box-shadow: 1px 1px 15px 0 rgba(34, 34, 34, 0.15);
}

.product:hover .product__content {
  background-color: #fff;
}

.product:hover .product__footer {
  -webkit-box-shadow: 1px 6px 15px 0 rgba(34, 34, 34, 0.15);
          box-shadow: 1px 6px 15px 0 rgba(34, 34, 34, 0.15);
  max-height: 100vh;
  padding: 0.75rem 0.9375rem 0.9375rem;
}

.price--on-sale.price__regular {
  text-decoration: line-through;
}

.widget__title {
  font-size: 1em;
  margin-bottom: 0;
}

.widget address {
  font-style: normal;
  margin-top: 0.375rem;
}

.widget p {
  margin: 0.1875rem 0 0;
}

.widget a {
  border: 0;
  color: #999;
}

.widget a:hover {
  color: #0038E3;
}

.widget .fa {
  margin-right: 0.75rem;
}

.modal-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(34, 34, 34, 0.5);
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  z-index: 7;
}

.modal-container.is-hidden {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out, z-index 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, z-index 0.3s ease-in-out;
  z-index: -20;
}

.modal {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  -webkit-transition: top 0.3s ease-in-out;
  transition: top 0.3s ease-in-out;
  z-index: 8;
}

.modal.is-hidden {
  top: -100%;
  -webkit-transition: top 0.3s ease-in-out;
  transition: top 0.3s ease-in-out;
  z-index: 2;
}

.modal-inner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  padding: 1.3333333333rem;
}

.modal-inner__header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 4rem;
}

.modal-inner__header h2 {
  margin-bottom: 0;
}

.modal-inner__footer {
  margin-top: 4rem;
}

.modal-open {
  overflow: hidden;
}

.increment {
  margin-top: 1.3333333333rem;
}

.increment .button {
  color: #999;
}

.increment input[type="number"] {
  border: 1px solid #ddd;
  border-radius: 6px;
  text-align: center;
  width: calc(100% - 120px);
}

.cart-item .increment {
  margin-top: 0;
}

.cart-item .increment .button {
  padding: 0.3125em 0.625em;
}

.cart-item .increment input[type="number"] {
  width: calc(100% - 70px);
}

.cart {
  font-size: 1.0666666667em;
}

.cart__row {
  border-bottom: 1px solid #f5f5f5;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1.875rem;
}

.cart__header h3 {
  font-size: 0.875em;
}

.cart__footer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 0;
  padding: 0.9375rem 0.4375rem;
}

.cart__coupon {
  grid-column-end: 9;
  grid-column-start: 1;
  position: relative;
}

.cart__coupon label {
  position: absolute;
  top: 150%;
  left: 0.9375rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.cart__coupon button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}

.cart-col--1 {
  grid-column-end: 7;
  grid-column-start: 1;
}

.cart-col--2 {
  grid-column-end: 9;
  grid-column-start: 7;
}

.cart-col--3 {
  grid-column-end: 11;
  grid-column-start: 9;
}

.cart-col--4 {
  grid-column-start: 11;
}

.cart-item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.9375rem 0.4375rem;
}

.cart-item__image {
  width: 6.25rem;
}

.cart-item__heading {
  font-size: 1em;
  margin: 0 0 0 1.375rem;
}

.coupon {
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 0.875em;
  padding: 0.7142857143em 1.0714285714em;
  width: 100%;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.grid {
  display: grid;
}

.page__content {
  margin: 1.875rem auto 6.25rem;
  max-width: 100%;
  padding: 1.3333333333rem;
  width: 1100px;
}

.site-header {
  border-bottom: 1px solid #eee;
  padding: 1.3333333333rem;
}

.site-footer {
  border-top: 1px solid #eee;
  padding: 1.3333333333rem;
}

.footer-bottom {
  font-size: 0.8125em;
  margin-top: 3.125rem;
}

.footer-bottom p {
  margin: 0;
}

@media only screen and (min-width: 600px) {
  .footer-bottom .nav-menu {
    margin-left: -0.75rem;
  }
  .page__content {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4rem 0.6875rem;
  }
  .site-footer .widgets {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2.6666666667rem;
  }
}

@media only screen and (min-width: 600px) and (max-width: 899px) {
  .site-footer .widgets {
    margin-top: 3.125rem;
  }
}

@media only screen and (min-width: 900px) {
  .button.button--hamburger {
    display: none;
  }
  .modal {
    left: 50%;
    padding-top: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 75%;
  }
  .page__content {
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 12.5rem;
    margin-top: 5.3333333333rem;
  }
  .site-footer {
    display: grid;
    grid-template-columns: repeat(2, 50%);
  }
  .footer-bottom {
    grid-column-end: 3;
    grid-column-start: 1;
  }
}

@media only screen and (min-width: 1200px) {
  .site-header {
    padding: 1.875rem 3.125rem;
  }
  .site-footer {
    padding: 3.125rem;
  }
}

@media only screen and (min-width: 1800px) {
  .site-header {
    padding: 3.75rem 6.25rem;
  }
  .site-footer {
    padding: 6.25rem;
  }
}

@media only screen and (max-width: 899px) {
  .primary-nav .nav-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 4rem;
  }
  .primary-nav {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    max-width: 100%;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    width: 25rem;
    z-index: 5;
  }
  .menu-open .primary-nav {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .site-footer {
    text-align: center;
  }
}

@media only screen and (max-width: 599px) {
  .product {
    margin-bottom: 2.6666666667rem;
  }
  .widget {
    margin-top: 2.6666666667rem;
  }
  .footer-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=style.css.map */